<% if user_signed_in? %>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to projects_path, class: "nav-link" do %>
        <i class="bi bi-kanban"></i> Projects
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_project_path, class: "nav-link" do %>
        <i class="bi bi-plus-circle"></i> New Project
      <% end %>
    </li>
  </ul>
  
  <ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
        <%= current_user.email %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li>
          <%= link_to destroy_user_session_path, 
              class: "dropdown-item text-danger",
              data: { turbo_method: :delete } do %>
            <i class="bi bi-box-arrow-right"></i> Sign Out
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% else %>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <i class="bi bi-box-arrow-in-right"></i> Sign In
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_user_registration_path, class: "nav-link" do %>
        <i class="bi bi-person-plus"></i> Sign Up
      <% end %>
    </li>
  </ul>
<% end %> 